.buttons{
    @media screen and (max-width: 768) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40px;
        margin-top: 20px;
        height: 40px;
    }
}